name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: go get github.com/stretchr/testify

      - name: Run tests
        run: go test -timeout 999999s
        env:
          VIAPIKEY: ${{ secrets.VIAPIKEY }}
          VIAPITOKEN: ${{ secrets.VIAPITOKEN }}
